# Dependencies
node_modules/

# Production build
dist/
functions/lib/

# Logs
*.log

# Environment variables
.env
.env.*

# OS files
.DS_Store

# Vite cache
.vite/

# Editor settings
.vscode/
.idea/

# Local Firebase Functions secrets
functions/.secret.local
